<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RecitingWord.ProgramConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RecitingWord.src.ProgramConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RecitingWord.src.ProgameConfig" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <RecitingWord.ProgramConfig>
            <setting name="ShowTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FadeIn" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FadeOut" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Random" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowExplain" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Volume" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="WordHistory" serializeAs="String">
                <value />
            </setting>
        </RecitingWord.ProgramConfig>
        <RecitingWord.src.ProgramConfig>
            <setting name="ShowTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FadeIn" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FadeOut" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Random" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowExplain" serializeAs="String">
                <value>False</value>
            </setting>
        </RecitingWord.src.ProgramConfig>
        <RecitingWord.src.ProgameConfig>
            <setting name="ShowTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FadeIn" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FadeOut" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Random" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowExplain" serializeAs="String">
                <value>False</value>
            </setting>
        </RecitingWord.src.ProgameConfig>
    </userSettings>
</configuration>